html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, body {
    font-family: 'Nunito', sans-serif;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for modals (thanks to TraversyMedia at https://www.youtube.com/watch?v=6ophW7Ask_0)
 */

 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  /*this part makes the background a dark but transparent color*/
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;           /*Change the first value to control how far down the modal is on the screen. 2nd value centers it?*/
    padding: 20px;
    width: 40%;                 /*Change this value so that the modal takes up more or less space on the screen*/
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    
    /*@keyframes at the end will put in the functionality of animation*/
    animation-name: modalopen;
    animation-duration: 1s;
}

.modalBtn {
    /*display: none;*/
    background: #02ccba;
    padding: 1em 2em;
    color: #eee;
    border: 0;
}

.modalBtn:hover {
    background: #00776d;
}

.modalBtn:first-of-type {
    margin-right: 1px;
}

#closeBtn {
    color: #ccc;
    float: right;               /*Float right to get it to show on the right side of modal*/
    font-size: 30px;
}

#closeBtn:hover, #closeBtn:focus {
    color: #fff;                /*On hover/focus the X goes white*/
    text-decoration: none;      /*No underline*/
    cursor: pointer;
}

/*In specified duration of 1 second in .modal-content, the modal will fade in*/
@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}